@import "font_file";
$default_width: 100%;
$primary_color: #9C71FF;
$secondary_color: black;
$default_margin: 40px;

@mixin button_styling {
    padding: 10px;
	background-color: $primary_color;
	border: none;
	color: white;
	font-family: spaceBold;
	border-radius: 5px;
	width: 80px;
    //float: left;
}

@mixin bordered {
    //border: 2px solid $primary_color;
}



/*-------------------------------------------*/

.hamburger{
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    border-radius: 50%;
    border: 1px solid #FCFCFA;
    padding: 10px 10px;
    transition: 0.4s;
    background-color: #F0F0F0;
    float: left;
}

.x_button{
    margin-top: -135px;
}

.nav_bar p{
    font: {
        family: $bold_font;
        //size: 13px;
    }
    float: left;
    margin: 25px 20px;
}

.contact_button{
    @include  button_styling();
    margin-top: 15px;
}

@media (min-width:320px){
    .nav_bar{
        max-width: 100%;
        @include bordered();
        height: 100px;
        //position: sticky;
    }
    
    .header_area{
        max-width: 100%;
       @include bordered();
        height: 400px;
        margin-top: $default_margin;
        text-align: center;
    }

    .header_area p:first-child{
        font: {
            family: $light_font;
        }
    }

    .header_area h1{
        font: {
            family: $bold_font;
            weight: 900px;
            size: 40px;
        }
        margin-top: $default_margin;
    }

    .header_area p:nth-child(3){
        font: {
            family: $light_font;
        }
        margin-top: $default_margin;
    }

    .header_area button{
        @include button_styling();
         width: 80%;
         margin-top: $default_margin;
    }

    .header_static_slider{
        height: 200px;
        //border: 2px solid red;
        max-width: $default_width;
        //margin-top: $default_margin;
    }
    .header_static_slider img{
        object-fit: contain;
        max-width: $default_width;
    }

    .header_section_bottom{
        //text-align: center;
        background-color: #f8f8f8;
        max-width: $default_width;
    }

   

    .header_section_bottom p{
        font: {
            family: $light_font;
        }
        line-height: 25px;
        padding: 10px 20px;
    }

    .mid_section{
       // @include aboutBox();
       width: $default_width;
       height: auto;
       //border: 2px solid red;
    }

    .box{
        max-width: 90%;
        height: 400px;
        border: {
            style: solid;
            width: 2px;
            color: #F7F6FF;
            radius: 10px;
        }
        margin: $default_margin auto;
        background-color: #F7F6FF;
        text-align: center;
    }

    .box h4{
        font: {
            family: $bold_font;
        }
        margin-top: $default_margin;
    }

    .box > p{
        font: {
            family: $light_font
        }
        margin-top: $default_margin;
        padding: 0px 20px;
    }
    
    .img_box{
        //border: 2px solid red;
        max-width: 70%;
        height: auto;
        margin: $default_margin auto;
    }

    .box > img{
        max-width: 50%;
        object-fit: contain;
        //margin: 40px auto;
    }

    .box2{
        background-color: #FFF6F7
    }

    .box3{
        background-color: #EDFBFF;
    }
     
    .buy_coin_section{
        max-width: $default_width;
        height: auto;
    }

    .btc_box{
        background-color:white;
        border: 2px solid #f8f8f8;
        height: 320px;
    }

    .coin_holder{
        margin: $default_margin auto;
    }

    .bs_button {
        width: 50%;
        height: 45px;
        border-top: 2px solid #f8f8f8;
        margin-top: 35px;
        float: left;
    }

    .bs_button a{
        display: block;
    }

    .buy{
        border-bottom-left-radius: 10px;
        border-right: 2px solid #f8f8f8;
    }

    .buy > a, .sell > a{
        font-family: $light_font;
        margin-top: 10px;
    }

    .sell{
        border-bottom-right-radius: 10px;
    }

    .img_box2{
        border: 2px solid black;
        max-width: 70%;
        height: auto;
        margin: $default_margin auto;
    }

    .img_box2 img{
        object-fit: contain;
        max-width: 20%;
    }

  

}






